<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Index</title>
</head>
<body>
<th:block layout:fragment="content">
    <h2>index</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}">Id</td>
            <td th:text="${user.name}">name</td>
            <td th:text="${user.age}">age</td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>