<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Blog</title>
</head>

<body>

<div class="container body-container">
    <div class="header">
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">logout</a>
        </div>
    </div>
    <div class="container">
        <th:block layout:fragment="content">
            <p>Layout content</p>
        </th:block>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-6">
                <p>&copy; yuan.example.com</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
